.container{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-card-actions{
    display: flex;
    flex-direction: column;
}
.addButton{
    width: 100%;
}
mat-icon{
    font-weight: bold;
    padding: 5px;
   
}
.cantidad button {
    background-color: brown;
    color:white;
    margin: 10px;
}